@font-face {
    font-family: codefont;
    src: url(./assets/NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
    font-family: bodyfont;
    src: url(./assets/HelveticaNowDisplay-Medium_2wEhlmo-TD.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    
} 

body{
    background-color: #111;
}

nav{
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 27px 130px;
}

.nav1{
    display: flex;
    align-items: center;
    gap: 20px; 
}

.nav1 img{
    width: 50px;
    height: 50px;
}

.nav1 h4{
    font-family: codefont;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.3;
}
.nav2 h4{
    font-family: codefont;
    font-size: 21px;
    font-weight: 100;
    
}


.nav2{
    display: flex;
    gap: 20px;
    align-items: center;
    gap: 60px;
}

.nav2 img{
    width: 50px;
    border: 0px solid black;
    border-radius: 100%;
    height: 50px; 
}


.nav3{
    display: none;
    gap: 20px;
    align-items: center;
    gap: 60px;
}
.nav3 h4{
    font-family: codefont;
    font-size: 21px;
    font-weight: 100;
    
}


.nav3 img{
    width: 50px;
    border: 0px solid black;
    border-radius: 100%;
    height: 50px; ;
}
