*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: content-box;
    outline: none; border: none;
    background: none;
}

#navbar{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px grey;
  padding: 15px 40px;
}
.logo{
    width: 150px;
    height: 50px;

}

.navoptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: 80px;
}