

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: content-box;
    outline: none; border: none;
    background: none;
 font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
    
}

#navbar{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(228, 228, 228);
  padding: 15px 40px;
  font-family: Space Mono;
}
.logo{
    width: 150px;
    height: 50px;

}

.navoptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.navoptions button{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 21px;
    cursor: pointer;
}

#hero-section{
   width: 100%;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;


}
.hero-content{
     position: relative;
     height: 488px;
     width: 90%;
     gap: 0px;
     display: flex;
     flex-direction: column;
     background: #F9F8F6;
     border: 1px solid rgb(219, 219, 219);
     border-radius: 24px;
     justify-content: space-between;
     align-items: center;
     overflow: hidden;
     z-index: 1;
}

.hero-text{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 232px;
    width: 60%;
    gap: 20px;
    padding: 90px;
}
.hero-text h1{
    font-size: 72px;
    line-height: 74px;
    font-weight: 600;
    word-spacing: -10px;
    text-align: center;
}
.hero-text p{
    font-size: 16px;
    line-height: 26px;
}

.hero-text button{
    display: inline-flex;      
    align-items: center;       
    justify-content: center;   
    gap: 10px;                
    font-size: 18px;
    color: #fff;
    background: #000;
    padding: 10px 14px;        
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;        
}

.hero-text button svg {
    width: 28px;
    height: 26px;
    display: inline-block;
    fill: #fff;
    stroke: #fff;
}

.bottom-section{
    background: #EEE9DF;
    height: 100px;
    width: 100%;
}

.img1 {

    position: absolute;
    left: -50px;
    bottom: -100px;
    height: 500px;
    width: 500px;
    
}

.img2 {

    position: absolute;
    right: 0;
    bottom: -100px;
    height: 500px;
    width: 500px;
}